streamlit
pandas
plotly
matplotlib
seaborn
scikit-learn
joblit
LabelEncoder
StandardScaler
train_test_split
KMeans
DecisionTreeClassifier
RandomForestClassifier
 linkage, dendrogram
KNeighborsClassifier
